<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ilss.dao.UserDAO">
    <select id="listAll" resultType="io.ilss.dataobject.User">
    select * from user
  </select>
</mapper>